<!DOCTYPE html>
<html>
  <head>
    <title>SpotifyAuthTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='container'>
        <div id='user-nav'>
          <% if current_user %>
            Welcome <%= current_user.name %>!
            <%= link_to "Sign Out", signout_path %>
          <% else %>
            <%= link_to "Sign in with Spotify", "/auth/spotify?scope=user-read-private user-read-email" %>
          <% end %>
        </div>
      </div>
    <%= yield %>
  </body>
</html>
